main{

    width: 100%;
    text-align: center;
    margin-top: 3%;
    .main-desc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        p{
            max-width: 735px;
        }
        h2{
            max-width: 346px;
            font-size: 43px;
        }
    }
    .main-img2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 3%;
    }
    .main-img{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;

    }
}

    
@media (max-width: 1000px) {
    .main-img2{
     display: flex;
     flex-wrap: wrap;
     h2{
         font-size: 25px;
     }
    } 
 
 }